<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageTitle title }}</title>
  <meta name="description" content="{{ pageDescription description }}">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ pageTitle title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ setURL path true }}">
  <meta property="og:image" content="{{ featuredImg image false }}">
  <meta property="og:description" content="{{ pageDescription description }}">
  <meta property="og:site_name" content="{{ this.siteTitle }}">

  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Montserrat" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ setURL 'css/styles.css' }}">
</head>
<body>
<header id="site-header" role="banner">
  <div id="conference-date" class="m-1of4 t-1of4 small-1of4 medium-1of3 large-1of4">
    <p><time datetime="2016-06-26">June 26</time> - <time datetime="2016-06-30">30, 2016</time></p>
  </div>

  <div id="header-logo" class="m-1of2 t-1of2 small-1of2 medium-1of3 large-2of4 {{#if largeLogo}} large-logo {{/if}}">
    <a href="{{ baseUrl }}"><img src="{{ setURL 'img/logo-COA.svg' }}" width="171" height="159" alt="SAS2016"></a>
  </div>

  <ul id="header-logos" class="m-1of4 t-1of4 small-1of4 medium-1of3 large-1of4">
    {{#each logos }}
      <li><a href="{{ this.url }}" title="{{ this.name }}" target="_blank"><img src="{{ setURL this.img }}" width="{{ this.width }}" height="{{ this.height }}" alt="{{ this.name }}"></a></li>
    {{/each}}
  </ul>
</header>

<nav id="main-menu" class="m-all t-all small-all medium-1of4 large-1of5" role="navigation">
  <ul>
    <li><a class="{{isActive current 'Home'}}" href="{{ baseUrl }}">Home</a></li>
    <li><a class="{{isActive current 'Schedule'}}" href="{{ setURL 'june-26' true }}">Schedule</a></li>
    <li><a class="{{isActive current 'Keynotes'}}" href="{{ setURL 'keynotes' true }}">Keynotes</a></li>
    <li><a class="{{isActive current 'Updates'}}" href="{{ setURL 'updates' true }}">Updates</a></li>
    <li><a class="{{isActive current 'Accommodation'}}" href="{{ setURL 'accommodation' true }}">Accommodation</a></li>
    <li><a class="{{isActive current 'Call for Proposals'}}" href="{{ setURL 'call-for-proposals' true }}">Call for Proposals</a></li>
    <li><a class="{{isActive current 'Special Events and Excursions'}}" href="{{ setURL 'special-events-and-excursions' true }}">Special Events and Excursions</a></li>
    <li><a class="{{isActive current 'Trailer'}}" href="{{ setURL 'trailer' true }}">Trailer</a></li>
    <li><a class="{{isActive current 'Gallery'}}" href="{{ setURL 'gallery' true }}">Gallery</a></li>
    <li><a class="nav-download" href="{{ setURL 'downloads/SAS2016_catalogue.pdf' false }}" target="_blank">Catalogue PDF</a></li>
    <li><a class="nav-download" href="{{ setURL 'downloads/SAS2016_Exhibitions_Screenings.pdf' false }}" target="_blank">Exhibitions/Screenings PDF</a></li>
  </ul>
</nav>
<main class="m-all t-all small-all medium-3of4 large-4of5" role="main">
