{{> head}}

<main class="m-all t-all small-2of3 medium-3of4 large-4of5">
  <section id="welcome" class="zoom-font">
    <div class="home-logo">
      <img src="{{ setURL 'img/logo-COA.svg' }}" alt="The Cosmos of Animation">
    </div>
    {{{ contents }}}
  </section>

  <p class="align-center"><a class="big-btn" href="{{setURL 'call-for-proposals' }}">Call for Proposals</a></p>

  {{#if updates}}
  <section id="updates">
    <h2>Updates</h2>
    <ul class="timeline-list">
      {{#each collections.updates}}{{#unless archive}}
        <li class="news-item">
          <span class="news-date">{{ setDate date }}: </span>
          <a href="{{ setURL slug }}">{{ title }}</a>
        </li>
      {{/unless}}{{/each}}
    </ul>
  </section>
  {{/if}}

</main>

{{> footer }}